<h1>New Wish:</h1>

<form [formGroup]="wishlistForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title" placeholder="Title" class="textfield">
  
  <div *ngIf="submitted && wishlistForm.controls.title.errors">
    <div *ngIf="wishlistForm.controls.title.errors.required" class="error">
      A title is required.
    </div>
  </div>

  <br>

  <textarea formControlName="description" placeholder="Description"></textarea>

  <br>

  <input type="text" formControlName="link" placeholder="Link" class="textfield">

  <br>

  <input type="submit" class="link" value="Save">
</form>

<a routerLink="../mywishlist" id="back">Back</a>