<h1>{{ data.groupname }}</h1>

<h3 *ngIf="data.partner">You have a partner!</h3>
<h3 *ngIf="!data.partner">No partner yet!</h3>

<a routerLink="../partner" class="link">My Partner</a>
<a routerLink="../mywishlist" class="link">My Wishlist</a>
<a routerLink="../members" class="link">Groupmembers</a>

<div *ngIf="data.owner !== data.username">  
  <button id="{{ confirmLeaveGroupId }}" (click)="leaveGroup()" class="link">{{ leaveButton }}</button>
</div>

<div *ngIf="data.owner === data.username">
  <h3>You are the owner:</h3>

  <a routerLink="../invite" class="link">Invite Member</a>
  <button id="{{ confirmLaunchGroupId }}" (click)="launchGroup()" class="link">{{ launchButton }}</button>
  <button id="{{ confirmDeleteGroupId }}" (click)="deleteGroup()" class="link">{{ deleteButton }}</button>
</div>

<a routerLink="../groups" id="back">Back</a>