<h1>{{ data.groupname }}</h1>

<span *ngIf="data.launched">Launched</span>

<a routerLink="../members" class="link">Members</a>
<a routerLink="../mywishlist" class="link">My Wishlist</a>
<a routerLink="../partner" class="link">My Partner</a>

<div *ngIf="data.owner !== data.username && !data.launched">
  <button (click)="leaveGroup()" class="link">Leave Group</button>
</div>

<div *ngIf="data.owner === data.username">
  <h3>You are the owner:</h3>

  <a routerLink="../invite" class="link">Invite Member</a>
  <button (click)="launchGroup()" class="link">Launch Group</button>
  <button (click)="deleteGroup()" class="link">Delete Group</button>
</div>

<br><br>

<a routerLink="../groups" id="back">Back</a>