<h1>Login:</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Username:<br>
    <input type="text" formControlName="username">

    <div *ngIf="submitted && loginForm.controls.username.errors">
      <div *ngIf="loginForm.controls.username.errors.required">
        A username is required.
      </div>
    </div>
  </label>

  <br>

  <label>
    Password:<br>
    <input type="text" formControlName="password">

    <div *ngIf="submitted && loginForm.controls.password.errors">
      <div *ngIf="loginForm.controls.password.errors.required">
        A password is required.
      </div>
    </div>
  </label>

  <br>

  <input type="submit">
</form>

<br>

<a routerLink="" id="back">Back</a>