<div id="container">
  <h1>Welcome to Secret Santa!</h1>

  <h3>
    Login and create a group for your friends or family or join a group!
    <br>
    Create a wishlist for your designated partner and hope for the best!
  </h3>

  <div *ngIf="this.data.username">
    <a routerLink="groups" class="link">My Groups</a>
    <a routerLink="create" class="link">Create a Group</a>
    <a routerLink="join" class="link">Join a Group</a>
    <button (click)="logout()" class="link">Logout</button>
  </div>

  <div *ngIf="!this.data.username">
    <a routerLink="login" class="link">Login</a>
    <a routerLink="register" class="link">Register</a>
  </div>
</div>