<h1>Create a Group:</h1>

<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <label>
    Groupname:<br>
    <input type="text" formControlName="groupname" placeholder="Groupname" class="textfield">
    
    <div *ngIf="submitted && createForm.controls.groupname.errors">
      <div *ngIf="createForm.controls.groupname.errors.required">
        A name is required.
      </div>
    </div>
  </label>

  <br>

  <input type="submit" class="link">
</form>

<br><br>

<a routerLink="" id="back">Back</a>