<div id="container">
  <h1>My Wishlist</h1>

  <ul id="wishlist">
    <li *ngFor="let item of data.myWishlist">
      {{ item.title }}<br>
      {{ item.description }}<br>
      <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
    </li>
  </ul>

  <h3>New Entry:</h3>

  <form [formGroup]="wishlistForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="title" placeholder="Title" class="textfield">

    <br>

    <textarea formControlName="description" placeholder="Description"></textarea>

    <br>

    <input type="text" formControlName="link" placeholder="Link" class="textfield">

    <br>

    <input type="submit" class="link">
  </form>

  <br><br>

  <a routerLink="../group" id="back">Back</a>
</div>