<h1>My Wishlist</h1>

<ul id="wishlist">
  <li *ngFor="let item of data.myWishlist; index as i" id="{{ i }}">
    <span class="title">{{ item.title }}</span>
    <span class="description">{{ item.description }}</span>
    <br>
    <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
    <div class="buttons">
      <button (click)="editWish(i)" title="Edit Wish">Edit</button>
      <div>
        <button *ngIf="confirmDelete === i" (click)="deleteWish(i)" title="Delete Wish" class="confirm-delete-wish">Confirm</button>
        <button (click)="confirmDeleteWish(i)" title="Delete Wish">Delete</button>
      </div>
    </div>
  </li>
</ul>

<button (click)="newWish()" class="link">Add a wish</button>

<br>

<a routerLink="../group" id="back">Back</a>