<h2>Join Group</h2>

<form [formGroup]="joinForm" (ngSubmit)="onSubmit()">
  <label>
    Groupname:
    <input type="text" formControlName="groupname">

    <div *ngIf="submitted && joinForm.controls.groupname.errors">
      <div *ngIf="joinForm.controls.groupname.errors.required">
        A groupname is required.
      </div>
    </div>
  </label>

  <br>
  
  <label>
    Code:
    <input type="text" formControlName="code">

    <div *ngIf="submitted && joinForm.controls.code.errors">
      <div *ngIf="joinForm.controls.code.errors.required">
        A code is required.
      </div>
    </div>
  </label>

  <br>
  
  <input type="submit">

  <br>

  <div *ngIf="groupError !== ''">
    {{ groupError }}
  </div>
</form>

<br>

<a routerLink="">Back</a>