<h1>Join a Group</h1>

<form [formGroup]="joinForm" (ngSubmit)="onSubmit()">
  <label>
    Groupname:<br>
    <input type="text" formControlName="groupname" placeholder="Groupname" class="textfield">

    <div *ngIf="submitted && joinForm.controls.groupname.errors">
      <div *ngIf="joinForm.controls.groupname.errors.required" class="error">
        A groupname is required.
      </div>
    </div>
  </label>

  <br>
  
  <label>
    Code:<br>
    <input type="text" formControlName="code" placeholder="Code" class="textfield">

    <div *ngIf="submitted && joinForm.controls.code.errors">
      <div *ngIf="joinForm.controls.code.errors.required" class="error">
        A code is required.
      </div>
    </div>

    <div id="badcode" *ngIf="groupError !== ''">
      {{ groupError }}
    </div>
  </label>

  <br>
  
  <input type="submit" class="link" value="Join">
</form>

<a routerLink="" id="back">Back</a>