<h1>My Groups</h1>

<div id="icons-description">
  <p>
    <i class="fas fa-crown"></i> Groupowner
    <br>
    <i class="fas fa-check"></i> Secret Santa ready!
  </p>
</div>

<ul id="groups">
  <li *ngFor="let group of combinedGroups">
    <a routerLink="../group" (click)="onClick(group.groupname)" class="link group">
      <span>
        {{ group.groupname }}
      </span>

      <span>
        <i *ngIf="group.owner" class="fas fa-crown" title="Groupowner"></i>
        <i *ngIf="group.launched" class="fas fa-check" title="Secret Santa ready!"></i>
      </span>
    </a>
  </li>
</ul>

<a routerLink="" id="back">Back</a>