h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 50px;
}

li {
  height: 30px;
  max-width: 200px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  background: lightgray;
  line-height: 30px;
  font-size: 20px;
  padding-left: 5px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  display: block;
  text-align: center;
  height: 30px;
  max-width: 200px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  background: lightgray;
  line-height: 30px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

ul a {
  display: inline;
}