/* You can add global styles to this file, and also import other style files */
.link, #back {
  margin: 20px;
  display: block;
  text-align: center;
  height: 40px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  background: lightgray;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: none;
  width: 100%;
}

.link:hover {
  cursor: pointer;
}

.textfield {
  height: 40px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid black;
  padding-left: 5px;
}

#wishlist {
  padding-left: 0;
  list-style-type: none;
  
  li {
    border: 1px solid black;
    margin: 10px auto;
    padding: 5px;
    font-family: sans-serif;
    width: 90%;
    max-width: 500px;
    font-size: 18px;
  }
}

#groups {
  padding-left: 0;
  list-style-type: none;
}

#members {
  padding-left: 0;
  list-style-type: none;

  li {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px;
  }

  button {
    border: none;
    height: 40px;
    font-size: 20px;
  }

  button:hover {
    cursor: pointer;
  }
}

#you {
  line-height: 40px;
  display: inline-block;
  width: 86px;
  background: lightgray;
  height: 40px;
}

h1, h3 {
  text-align: center;
  font-family: sans-serif;
}

form {
  margin: auto;
  display: block;
  text-align: center;
}

label {
  font-family: sans-serif;
  font-size: 20px;
}

textarea {
  height: 100px;
  width: 90%;
  max-width: 500px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
}