/* You can add global styles to this file, and also import other style files */

$font-family: 'Arvo', serif;

html, body {
  height: 100%;
  margin: 0;
}

#footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;

  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }

  a {
    color: black;
    text-decoration: underline;
  }
}

#main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("assets/background-portrait.jpg");
  background-size: cover;
  background-position: center 80%;

  @media screen and (min-width: 1200px) {
    background: url("assets/background-landscape.jpg");
    background-size: cover;
    background-position: right center;
  }

  app-groups,
  app-create,
  app-group,
  app-invite,
  app-join,
  app-login,
  app-main,
  app-members,
  app-mywish,
  app-mywishlist,
  app-partner,
  app-register {
    z-index: 1;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 35px;

    @media screen and (min-width: 1200px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.link, #back {
  margin: 20px;
  display: block;
  text-align: center;
  height: 46px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-family;
  background: lightgray;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: none;
  width: 100%;
  border: 3px solid #424242;
  box-sizing: border-box;
  transition: all 0.3s;
  padding: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);

  @media screen and (min-width: 1200px) {
    height: 36px;
    line-height: 30px;
    max-width: 165px;
    font-size: 17px;
  }
}

#back {
  margin-top: 40px;
}

.link:hover, #back:hover {
  cursor: pointer;
  border: 3px solid green;
}

.link:active, #back:active {
  box-shadow: none;
}

.group {
  min-height: 40px;
  max-width: 400px;
  word-wrap: break-word;

  @media screen and (min-width: 1200px) {
    min-height: 30px;
  }
}

.textfield {
  height: 40px;
  width: 90%;
  max-width: 400px;
  margin: 10px;
  font-family: $font-family;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid black;
  padding-left: 5px;

  @media screen and (min-width: 1200px) {
    height: 30px;
    line-height: 30px;
    font-size: 17px;
  }
}

#members-icons {
  color: white;
  font-family: $font-family;
  margin: auto;
  max-width: 212px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
}

#groups-icons {
  color: white;
  font-family: $font-family;
  margin: auto;
  max-width: 175px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);

  .fa-check {
    width: 20px;
  }
}

#wishlist {
  padding: 5px;
  list-style-type: none;
  max-width: 400px;
  margin: auto;
  
  li {
    border: 3px solid #424242;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
    font-family: $font-family;
    font-size: 17px;
    background: white;
  }

  .title {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  button {
    border: none;
    height: 35px;
    width: 100px;
    font-size: 20px;
    border: 3px solid #424242;
    box-sizing: content-box;
    transition: all 0.3s;
    padding: 0;
    border-radius: 8px;
    box-shadow: 3px 3px 7px gray;

    @media screen and (min-width: 1200px) {
      height: 30px;
      font-size: 17px;
    }
  }
  
  button:hover {
    cursor: pointer;
    border: 3px solid green;
  }
  
  button:active {
    box-shadow: none;
  }

  .confirm-delete-wish {
    background: red;
  }
}

#groups {
  padding: 5px;
  list-style-type: none;
  margin: auto;
  max-width: 400px;

  a {
    display: flex;
    justify-content: space-between;
  
    span {
      margin-left: 10px;

      i {
        margin-right: 10px;
      }
    }
  }
}

#members {
  padding: 5px;
  list-style-type: none;
  margin: auto;
  max-width: 400px;

  li {
    font-family: $font-family;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background: lightgray;
    height: 40px;
    border-radius: 8px;
    border: 3px solid #424242;

    @media screen and (min-width: 1200px) {
      height: 30px;
      font-size: 17px;
    }

    .member-icons {
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
      }
    }

    button {
      border: none;
      height: 40px;
      width: 40px;
      font-size: 20px;
      background: gray;
      padding: 0;
      border-radius: 0 5px 5px 0;

      @media screen and (min-width: 1200px) {
        height: 30px;
        width: 30px;
        font-size: 17px;
      }
    }

    .confirm-delete-member {
      width: 140px;
      background: red;
      border-radius: 0;
    }
  }
}

#code {
  margin: 20px;
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: $font-family;
  color: white;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);

  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}

.error, #badcode {
  border: 3px solid red;
  margin: auto;
  width: 90%;
  max-width: 400px;
  font-family: $font-family;
  font-size: 20px;
  padding: 3px;

  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}

#badcode {
  margin-top: 5px;
}

#invite-code, #partner {
  padding: 5px;
}

h1, h3 {
  color: white;
  text-align: center;
  font-family: $font-family;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
  margin: 5px;
}

h3 {
  margin-top: 12px;
}

form {
  margin: auto;
  display: block;
  text-align: center;
}

label {
  font-family: $font-family;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);

  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}

textarea {
  height: 100px;
  width: 90%;
  max-width: 400px;
  margin: 10px;
  font-family: $font-family;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;

  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}

button:hover {
  cursor: pointer;
}

#confirmLeaveGroupId, #confirmDeleteGroupId, #confirmLaunchGroupId {
  background: red;
}