/* You can add global styles to this file, and also import other style files */
.link, #back {
  margin: 20px;
  display: block;
  text-align: center;
  height: 40px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  background: lightgray;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: none;
  width: 100%;
}

.link:hover {
  cursor: pointer;
}

.group {
  min-height: 40px;
  max-width: 500px;
  word-wrap: break-word;
}

.textfield {
  height: 40px;
  width: 90%;
  max-width: 500px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid black;
  padding-left: 5px;
}

#wishlist {
  padding-left: 0;
  list-style-type: none;
  width: 90%;
  max-width: 500px;
  margin: auto;
  
  li {
    border: 1px solid black;
    margin: 10px auto;
    padding: 5px;
    font-family: sans-serif;
    font-size: 18px;
  }

  .title {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  button {
    border: none;
    height: 35px;
    width: 100px;
    font-size: 20px;
  }
}

#groups {
  padding-left: 0;
  list-style-type: none;

  a {
    display: flex;
    justify-content: space-between;
  
    span {
      margin-left: 10px;

      i {
        margin-right: 10px;
      }
    }
  }
}

#members {
  padding-left: 0;
  list-style-type: none;
  margin: auto;
  width: 90%;
  max-width: 500px;

  li {
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    background: lightgray;
    height: 40px;

    .member-icons {
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
      }
    }

    button {
      border: none;
      height: 40px;
      width: 40px;
      font-size: 20px;
      background: gray;
      padding: 0;
    }
  }
}

#code {
  margin: 20px;
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: sans-serif;
}

.error, #badcode {
  border: 1px solid red;
  margin: auto;
  width: 90%;
  max-width: 500px;
  font-family: sans-serif;
  font-size: 20px;
}

#badcode {
  margin-top: 5px;
}

h1, h3 {
  text-align: center;
  font-family: sans-serif;
}

form {
  margin: auto;
  display: block;
  text-align: center;
}

label {
  font-family: sans-serif;
  font-size: 20px;
}

textarea {
  height: 100px;
  width: 90%;
  max-width: 500px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}