<h1>Members</h1>

<a routerLink="../partner" class="link">My Partner</a>

<br>

<ul id="members">
  <li *ngFor="let member of data.members">
    <div class="member-icons">
      <span>
        {{ member }}
      </span>

      <span *ngIf="member === data.owner">
        <i class="fas fa-crown" title="Groupowner"></i>
      </span>

      <span *ngIf="member === data.partner">
        <i class="fas fa-user-friends" title="Your partner"></i>
      </span>
    </div>

    <span *ngIf="data.owner === data.username && data.owner !== member">
      <button *ngIf="confirmRemove === member" (click)="removeMember(member)" title="Remove member" class="confirm-delete-member">
        Confirm delete
      </button>

      <button (click)="confirmRemoveMember(member)" title="Remove member">
        <i class="fas fa-user-times"></i>
      </button>
    </span>
  </li>
</ul>

<a routerLink="../group" id="back">Back</a>