<h1>Groupmembers</h1>

<a routerLink="../partner" class="link">My Partner</a>

<br>

<div id="icons-description">
  <p>
    <i class="fas fa-crown"></i> Groupowner
    <br>
    <i class="fas fa-user-friends"></i> My Partner
    <br>
    <span *ngIf="data.owner === data.username">
      <i class="fas fa-user-times"></i> Remove Groupmember
    </span>
  </p>
</div>

<ul id="members">
  <li *ngFor="let member of data.members">
    <div class="member-icons">
      <span>
        {{ member }}
      </span>

      <span *ngIf="member === data.owner">
        <i class="fas fa-crown" title="Groupowner"></i>
      </span>

      <span *ngIf="member === data.partner">
        <i class="fas fa-user-friends" title="Your Partner"></i>
      </span>
    </div>

    <span *ngIf="data.owner === data.username && data.owner !== member">
      <button *ngIf="confirmRemove === member" (click)="removeMember(member)" title="Remove Groupmember" class="confirm-delete-member">
        Confirm delete
      </button>

      <button (click)="confirmRemoveMember(member)" title="Remove Groupmember">
        <i class="fas fa-user-times"></i>
      </button>
    </span>
  </li>
</ul>

<a routerLink="../group" id="back">Back</a>