<h1>Register:</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>
    Username:<br>
    <input type="text" formControlName="username" class="textfield" placeholder="Username">

    <div *ngIf="submitted && registerForm.controls.username.errors">
      <div *ngIf="registerForm.controls.username.errors.required" class="error">
        A username is required.
      </div>
    </div>
  </label>

  <br>

  <label>
    Password:<br>
    <input type="password" formControlName="password" class="textfield" placeholder="Password">

    <div *ngIf="submitted && registerForm.controls.password.errors">
      <div *ngIf="registerForm.controls.password.errors.required" class="error">
        A password is required.
      </div>
    </div>
  </label>

  <br>
  
  <label>
    Email:<br>
    <input type="email" formControlName="email" class="textfield" placeholder="Email">

    <div *ngIf="submitted && registerForm.controls.email.errors">
      <div *ngIf="registerForm.controls.email.errors.required" class="error">
        An email is required.
      </div>
    </div>
  </label>

  <br>

  <input type="submit" class="link" value="Register">
</form>

<a routerLink="" id="back">Back</a>